extends layouts/main-layout.pug 

block styles
        title #{ pageTitle  }
        link(rel="stylesheet"  , href="/css/main.css")
        link(rel="stylesheet" ,href="/css/product.css")
        link(rel="stylesheet", href="/css/form.css")
       
block content 
    main
        form.product-form(action="/admin/add_item" , method="POST")
            div.form-control
                label(for="fname") Title
                input(type="text" , name="fname", id="title")
            button(type="submit") Add Product
        
