 extends layouts/main-layout.pug 

block styles 
        title Error 404
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet"  , href="/css/404.css")

block content  
    div#main
        div.fof
            h1 Error 404
        

